body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://sc01.alicdn.com/kf/Ha992634034f847298646299b7f6a4788u.png");
  height: 100%;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
}
div {
  color: white;
}
a {
  color: white;
}
h1 {
  color: white;
}
aside {
  text-align: center;
}
