body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cdn.shopify.com/s/files/1/0024/8243/8210/products/tish-snooky-s-manic-panic-amplified-hair-color-rockabilly-blue-amplified-4923280687170_1024x1024.jpg?v=1584109673");
  height: 100%;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
}
div {
  color: white;
}
a {
  color: white;
}
h1 {
  color: white;
}
aside {
  text-align: center;
}
