body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5a038be5ace864bc0d9b6b57/1510930176312-GTQ3S338UMC0T7SCZXG6/ke17ZwdGBToddI8pDm48kMXQd1MZR0BdW2pWwQcwoOxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzDFUz_VG4kflpUS65vB5YGHWUonuaRZOigHgYltSLvF2id0Xv2h4DFkAwC4PfQOEQ/hair._colors.jpg?format=1500w");
  height: 100%;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
}
div {
  color: black;
}
a {
  color: white;
}
h1 {
  color: yellow;
}
aside {
  text-align: center;
}
