body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://s.yimg.com/ny/api/res/1.2/2FoZlZO06UNrw96jhY.y_A--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTU0MA--/https://s.yimg.com/uu/api/res/1.2/5qXQxcLijeRhN7j98DkNJg--~B/aD01NDA7dz05NjA7c209MTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/stylecaster_935/6c1ac892bf1a18ebb87df3138c0142a0");
  height: 100%;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
}
div {
  color: white;
}
a {
  color: white;
}
h1 {
  color: blue;
}
aside {
  text-align: right;
}
