body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-img.instyle.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F684xflex%2Fpublic%2Fimages%2F2017%2F03%2F032817-hair-masks-lead.jpg%3Fitok%3DfEapY1GL");
  height: 100%;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
}
div {
  color: white;
}
a {
  color: white;
}
h1 {
  color: yellow;
  text-shadow: 0 0 7px black;
}
aside {
  text-align: center;
}
